html,body {
    height:100%;
}
body{
    margin:0;
}
.navbar-brand {
    color: white !important;
}
.navbar-default .navbar-nav > li > a {
    color: white !important;
}
#main-menu {
  background: #FFF url('/pts2019/images/design/pts_2017.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.input-link {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  background-color: transparent;
  color: inherit;
}
#page {
    width:100%;
    height:100%;
    display:table;
    margin:0 auto;
    font-size: 1.3em;
}
#page-body {
    width:100%;
    display:table-row;
}
#page-content {
    padding: 40px 0;
}
#main-menu .jumbotron {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#page-footer {
    width:100%;
    overflow:hidden; /*for FF on Windows 7*/
    display:table-footer-group;
}
#page-footer .holder {
    height:1%;
    display:table-row;
}
#page-footer .navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 20px;
    border-left: 0;
    border-right: 0;
}
#page-footer .frame { display:table-cell;}
#map {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}
#map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.slideshow {
    width: 100%;
    max-width: 640px;
    display: inline-block;
    position: relative;
    background-color: #eee;
}
.slideshow:after {
    padding-top: 66.7%;
    display: block;
    content: '';
}
.slideshow > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.slideshow > div > iframe {
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
  .table-mobile thead { display: none }
  .table-mobile tbody tr td { display: block !important }
  .table-mobile tbody tr td:not(:first-child) { border: 0 }
}
.table .act-description label {
  display: inline;
}
p.message {
  padding: 50px 0;
}

/*~------------------------------------------------------------------*/
/* Timetable colours                                                 */
/*~------------------------------------------------------------------*/
.table-schedule td.center {
  text-align: center;
}
.table-schedule td {
  border: 0 !important;
}
.venue {
  background-color: #FFCC00;
}
.out {
  background-color: #EEEEEE;
}
.r1 {
  background-color: #FFD3D3;
}
.r2 {
  background-color: #D3FFD3;
}
.r3 {
  background-color: #D3D3FF;
}
.r4 {
  background-color: #FFFFD3;
}
.r5 {
  background-color: #D3FFFF;
}
.mtbutton {
  cursor:pointer;
  vertical-align: middle;
}
.starcount {
  font-size: small;
}
